<form class="form mat-elevation-z8">
    <h1>Remover Técnico</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="tecnico.nome" disabled maxlength="100" name="nome" matInput placeholder="Ex. Douglas Boechat">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="tecnico.cpf" disabled maxlength="11" name="cpf" matInput placeholder="Ex. 010.010.010-10">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="tecnico.telefone" disabled maxlength="11" name="telefone" matInput placeholder="Ex. (21) 99999-9999">
    </mat-form-field>

    <button (click)='delete()' class="mat-elevation-z8" mat-flat-button color="primary">Deletar</button>
    <button (click)='cancel()' class="mat-elevation-z8" mat-flat-button color="warn">Cancelar</button>
</form>